svg {
  background: #1f2227;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 20px; */
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
}

.tick {
  color: wheat;
  z-index: 100;
}
.tick line {
  visibility: hidden;
}
.domain {
  color: wheat;
}
.tlcont {
  width: 90%;
  height: 500px;
}
