svg {
  background: gray;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 20px; */
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
}

.tlcont {
  width: 90%;
  height: 500px;
}
